@import "../../index.scss";

.Column {
  background-color: rgb(235, 236, 240);
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 10px;
  margin: 10px;
  transition: background-color 0.2s ease 0s, opacity 0.1s ease 0s;
  user-select: none;
  min-width: 300px;
  height: fit-content;
  border-radius: 10px;

  .TextArea {
    @include text-area;
    padding-right: 8px;
  }
}
